{description, "A basic gen_statem for an OTP application"}.
{variables, [
    {name,
        "name",
        "Name of the module."
    },
    {app_dir, ".", "The directory where the src subdirectory goes"}
]}.

{dir, "{{app_dir}}/src"}, % creates the dir if it doesn't exist

{template,
    "leapsight_statem.erl",
    "{{app_dir}}/src/{{name}}.erl"
}.